body{
    background-image: url("../images/01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
}
#divMain {
    margin-left: 300px;
    margin-top: 100px;
    position: absolute;
background:rgba(255,255,255,0.3);
}

#divTitle {
    width: 700px;
    height: 40px;
    line-height: 40px;
    background-color: orange;
    border: 1px black solid;
    border-bottom: hidden;
}

#spanTitle {
    margin-left: 18px;
    font-weight: 900;
}

#registBtn {
    float: right;
    text-decoration: none;
}

#divBody {
    width: 700px;
    height: 300px;
    border: 1px black solid;
}

.tdText {
    width: 200px;
    text-align: right;
}

.tdInput {
    width: 220px;
}

.tdError {
    width: 230px;
}

#tableForm {
    line-height: 70px;
}

.inputClass {
    width: 240px;
    height: 32px;
    border: 1px solid black;
    padding-left: 10px;
}

.errorClass {
    color: #f40000;
    background-color: #fef2f2;
    border: 1px #ffb8b8 solid;
    padding: 8px 8px 8px 35px;
    font-size: 13px;
    background: url("../images/error.png") no-repeat;
}

.snowfall-flakes:before {
    content: "";
    /*绝对定位*/
    position: absolute;
    left: 0px;
    top: 0px;
    width: 10px;
    height: 16px;
    transform: rotate(-45deg);
    background-color: red;
    border-radius: 5px 5px 1px 1px;
}

.snowfall-flakes:after {
    content: ""; /*激活伪元素的必要因素*/
    position: absolute;
    left: 0px;
    top: 0px;
    width: 10px;
    height: 16px;
    transform: translateX(4.3px) rotate(45deg);
    background-color: red;
    border-radius: 5px 5px 1px 1px;
}