/*Main的样式*/
* {
    font-size: 10pt;
    margin: 0;
    padding: 0;
}

.table {
    height: 100%;
    border: 1px solid #15B69A;
    border-collapse: collapse;
}

.table td {
    border: 1px solid #15B69A;
}

/*导航栏样式*/
.trTop {
    background: #15B69A;
    color: #ffffff;
}

.tdTop {
    text-align: center;
    height: 100px;
}

.trTop a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 900;
}

/*侧边商品栏样式*/

.tdLeft {
    width: 202px;
    height: 500px;
    text-align: center;
}

ul {
    list-style: none;
}

.tdLeft a {
    color: #f39800;
    text-decoration: none;
}

.accordion {
    width: 100%;
    max-width: 200px;
    border: solid 1px #ccc;
    background: #FFF;
}

.accordion .link {
    cursor: pointer;
    display: block;
    padding: 15px 15px 15px 15px;
    color: #4D4D4D;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 1px solid #CCC;
    position: relative;
}

.accordion li:last-child .link {
    border-bottom: 0;
}

.accordion li {
    cursor: pointer;
}

.accordion li i {
    position: absolute;
    top: 16px;
    left: 12px;
    font-size: 18px;
    color: #595959;
}

.accordion li.open .link {
    color: #f39800;
}

.accordion li.open i {
    color: #f39800;
}

.listMain {
    font-size: 25px;
    color: #f39800;
    font-weight: 700;
}

.submenu {
    display: none;
    background: #f5f5f5;
    font-size: 14px;
}

.submenu li {
    border-bottom: 1px solid #d6d7dc;
}

.submenu a {
    display: block;
    text-decoration: none;
    color: #666;
    padding: 12px;
}

.submenu a:hover, .submenu li.current a {
    background: #f39800;
    color: #FFF;
}

/*轮播图样式*/
/*去除轮播图两边阴影*/

.tdBody {
    border-top-width: 0px;
    width: 983px;
    height: 455px;
}

.carousel-control.left {
    top: 0;
    left: 5%;
    background-image: none;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
}

.carousel-control.right {
    top: 0;
    right: 5%;
    background-image: none;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}

#carousel-example-generic {

    width: 1118px;
    height: 490px;
}

.carousel-inner {
    width: 100%;
    height: 100%;
}

.carousel-inner img {
    margin: 0 auto;
}